* {
    font-family: 'Oswald', sans-serif;
}

body, main {
    margin: 0;
    background: #202124;
    color: white;
    text-align: justify;
}

body h1 {
    text-align: center;
}

.pageTitle {
    padding: 5px;
}

#darkModeButton {
    height: 50px;
    float: left;
    background: black;
    color: white;
}

.ImageLink {
    width: 95%;
    padding-top: 5px;
    margin: auto;
    transition: 0.25s;
}

.ImageLink:hover {
    width: 100%;
}

.banner {
    display: flex;
    flex-basis: auto;
    background-size: cover;
    background-position: center;
    height: 500px;
    background-image: url("images/blender_banner_2.jpg");
}

.navbar {
    display: flex;
    background-color: #333;
    justify-content: start;
}

.dark-mode {
    background-color: black;
    color: white;
}

.navbar a {
    border: thin #9f0000;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #a10000;
    color: #ffffff;
}

#adminLinks {
    display: flex;
    flex-direction: column;

}

#adminLinks a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 10px 0 10px 0;
}

#adminLinks a:hover {
    background: #a10000;
}



.navbar a.active {
    background-color: #9f0000;
    color: white;
}

.loginNav {
    margin-left: auto;
}

figure {
    float: left;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

main p {
    margin: 1em 0;
    line-height: 1.4em;
    letter-spacing: 1px;
    text-justify: distribute-all-lines;
}


footer {
    clear: both;
    display: flex;
    justify-content: center;
    background: #4f4f4f;
    margin-top:auto;
    color: white;
}

footer img {
    width: 24px;
}

.renderLink {
    text-decoration: none;
    color: #8fa8d6;
}

@media screen and (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 0px;
    }

    figure {
        margin: 0px;
        width: 100%;
    }


    figure img {
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .loginNav {
        margin-left: 0;
    }

    .banner {
        height: 150px;
    }

}


ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: 100%;
}

li {
    display: grid;
    grid-template-columns: 25% 70%;
    border-bottom: 1px solid black;
    grid-gap: 5%;
}

.grid-1 {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.grid-1 time {
    align-items: end;
    padding-top: 25px;
}

.grid-2 {
    display: flex;
    flex-direction: column;
}

.grid-2 a {
    text-decoration: none;
}


.renderImage {
    display: grid;
    grid-template-columns: 100%;
}

.renderImage img {
    object-fit: cover;
    transition: 0.25s;
    width: 99%;
}

.renderImage img:hover {
    object-fit: cover;
    width: 100%;
}

.renderImage time {
    justify-content: center;
    text-align: center;
}

.imageGallery {
    display: flex;
    width: 90%;
    margin: 50px auto auto;
}


.imageGallery img {
    width: auto;
    width: 100%;
}

.articleContent {
    padding: 1%;
    text-align: justify;
}

button {
    color: white;
    font-weight: bold;
}

.articleContent a {
    text-decoration: none;
}


.contactMain {
    display: flex;
    flex-direction: column;
}

.map {
    margin: auto;

    width: 80%;
    height: calc(100vh - 16px);
}

.contactMain iframe {
    width: 100%;
    height: 100%;
}

form {
    font-size: 24px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin: auto;
    width: 90%;
}
form * {
    border-radius: 8px;
}

.UserForm {
    margin: auto;
    width: 50%;
}

form input, select{
    height: 50px;
    margin-bottom: 15px;
}

form button {
    margin-top: 10px;
    width: 100%;
    padding: 1% 0 1% 0;
    border-color: #26b5f3;
    background: #26b5f3;
}

#deleteButton {
    background: #9f0000;
    border-color: #6c0000;
    color: white;
    width: 100%;
}

.GalleryGrid {
    display: grid;
    grid-template-columns: repeat(3, 30%);;
    grid-gap: 1px;
    justify-content: space-around;
}

.GalleryGrid figure {
    margin: 0;
    width: 100%;
}

.GalleryGrid figure img  {
    width: 100%;
}


#FullImage {
    position: fixed; /* Sit on top of the page content */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    justify-content: center;
    transition: 0.25s;
    opacity: 0;
}

#FullImage:hover {
    display: flex;
    justify-content: center;
    opacity: 1;
}

#FullImage img {
    width: 80%;
    padding: 1% 10% 0 10%;
}

#userDataShow {
    font-size: 24px;
}

#userDataShow * {
    border: none;
    padding: 10px 0 10px 0;
}

.VideoContainer {
    display: block;
    width: 50%;
    float: left;
    margin: 1%;
}

video {
    width: 100%;
}

table {
    width: 100%;

}

table th {
    text-align: left;

}

table td {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 0 15px 0;
}

.renderButtons {
    padding: 10px 0 10px 0;
}

.renderContainer li {
    padding: 50px 0 50px 0;
}

table a, .renderButtons a {
    text-decoration: none;
    color: white;
    background: #26b5f3;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    li {
        display: flex;
        flex-direction: column;
        padding-top: 1px;
    }

    .VideoContainer {
        display: block;
        width: 100%;
        float: left;
        margin: 0;
    }

    .grid-1 {
        display: flex;
    }

    .grid-1 time {
        padding-top: 25px;
    }


    .grid-1 img {
        width: 100%;
    }


    .renderImage img {
        object-fit: cover;
        width: 100%;
    }

    .imageGallery figure {
        width: 100%;
    }

    .imageGallery {
        flex-direction: column;
    }

    .GalleryGrid {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-gap: 1%;
        justify-content: space-around;
    }

    .VideoContainer {
        width: 100%;
    }

}



